@import "./variables";

.canvas {
  height: fit-content;
  display: flex;

  justify-content: center;
  align-items: center;
  &__blocked {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    height: 600px;
    width: 800px;

    background-color: rgba(0, 0, 0, 0.5);
  }
}

canvas {
  background-color: $canvas-color;
}