@import "./variables";

.chat {
  position: relative;
  height: 600px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-bottom: none;

  justify-content: center;
  align-items: flex-start;

  &__messenger {
    padding: 0 10px 45px 10px;
    height: 600px;
    width: 100%;
    background-color: rgba(24,25,29,255);
    border-radius: 0 0 20px 20px;

    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

