@import "./variables";

.chat {
  position: relative;
  height: 600px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-bottom: none;

  justify-content: center;
  align-items: flex-start;

  &__messenger {
    padding: 0 10px 45px 10px;
    height: 600px;
    width: 100%;
    background-color: rgba(24,25,29,255);
    border-radius: 0 0 20px 20px;

    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__message {
    animation-name: sliding;
    animation-iteration-count: 1;
    animation-duration: 1s;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 6px;
    height: fit-content;
    word-wrap: break-word;
    width: fit-content;
    max-width: 70%;
    padding: 10px 15px;
    background-color: rgba(42,47,51,255);

    color: white;
    border-radius: 20px 15px 0 20px;

    &_from {
      margin-left: unset;
      margin-right: auto;
      background-color: rgba(51,57,63,255);
      border-radius: 20px 20px 20px 0;
    }
  }
}

@keyframes sliding {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}